.app-wrapper { 
  width: 40%;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem auto 0 auto;
  background-color: rgb(235, 235, 235);
  border-radius: 2rem;
  border: 2px solid coral;
}

.main-heading {
  font-size: 4rem;
  color: coral;
}

.input-field-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-input {
  width: 40%;
  margin: 2rem .5rem;
  padding: .2rem .5rem;
  border: 2px solid coral;
  border-radius: .5rem;
  color: coral;
  font-size: 1.2rem;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  width: 20%;
  height: 2rem;
  margin: .5rem;
  background-color: #fff;
  color: coral;
  font-size: 1.2rem;
  border: 2px solid coral;
  border-radius: .5rem;
  cursor: pointer;
}

.image-wrapper {
  min-width: 90%;
  min-height: 20rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  background-color: #fff;
  overflow: hidden;
}

.meme-img {
  width: 100%;
  margin: 0 auto;
}

.first-cap {
  max-width: 40%;
  position: absolute;
  top: 20%;
  right:4%;
  font-size: 2rem;
}

.second-cap {
  max-width: 40%;
  height: 10rem;
  position: absolute;
  font-size: 2rem;
  top: 70%;
  right: 4%;
}
